{% extends "accounts/base.html" %} {% block content %}
<h1 class="d-flex justify-content-center">Dashboard administrateur</h1>

<div class="container text-center" style="margin-top: 4%">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-3">
      <a href="#link1" class="card-link">
        <div class="card" style="padding: 5%">Gestion élève</div>
      </a>
    </div>
    <div class="col-3">
      <a href="#link2" class="card-link">
        <div class="card" style="padding: 5%">Gestion spécialité</div>
      </a>
    </div>
    <div class="col-3">
      <a href="#link3" class="card-link">
        <div class="card" style="padding: 5%">Gestion cours / exercice</div>
      </a>
    </div>
  </div>
</div>

<h2 class="d-flex justify-content-center" style="margin-top: 2%">
  Gestion élève
</h2>

<div class="container text-center" style="margin-top: 2%">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-3">
      <input
        type="text"
        class="form-control"
        id="inputColumn1"
        placeholder="Rechercher un élève ..."
      />
    </div>
    <div class="col-3">
      <select class="form-select" id="dropdownColumn2">
        {% for bootcamp in bootcamps %}
        <option value="{{bootcamp.id}}">{{bootcamp.name}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="col-3">
      <a href="#link3" class="btn btn-primary">Rechercher</a>
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="table-container" style="max-height: 200px; overflow-y: auto">
    <table class="table">
      <thead class="sticky-top">
        <tr>
          <th scope="col">Nom/Prénom</th>
          <th scope="col">Email</th>
          <th scope="col">Spécialité</th>
          <th scope="col">Options</th>
        </tr>
      </thead>
      <tbody>
        {% for student in users %}
        <tr>
          <td>
            <a href="{% url 'profile' user_id=student.id %}"
              >{{student.last_name}} {{student.first_name}}</a
            >
          </td>
          <td>{{student.email}}</td>
          <td>
            {% for spe in student.speciality.all %} {{spe.name}} {% endfor %}
          </td>
          <td>
            <select class="form-select">
              {% for spe in specialities %}
              <option value="{{spe.id}}">{{spe.name}}</option>
              {% endfor %}
            </select>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<div class="container mt-5">
  <div class="d-flex justify-content-around">
    <div class="card" style="width: 18rem">
      <div class="card-body">
        <h5 class="card-title">
          {{users.first.last_name}} {{users.first.first_name}}
        </h5>
        <p class="card-text"><strong>Email:</strong> {{users.first.email}}</p>
        <p class="card-text">
          <strong>Classe:</strong> {{users.first.bootcamp.first.name}}
        </p>
        <p class="card-text">
          <strong>Date de naissance:</strong> {{users.first.date_of_birth}}
        </p>
        <p class="card-text">
          <strong>Numéro de téléphone:</strong> {{users.first.phone_number}}
        </p>
        <a href="#" class="btn btn-primary">Voir plus</a>
      </div>
    </div>

    <div class="card" style="width: 18rem">
      <div class="card-body">
        <h5 class="card-title">
          {{users.first.last_name}} {{users.first.first_name}}
        </h5>

        <!-- Barre de progression 1 -->
        <p class="card-text">Compétence 1</p>
        <div class="progress">
          <div
            class="progress-bar"
            role="progressbar"
            style="width: 70%"
            aria-valuenow="70"
            aria-valuemin="0"
            aria-valuemax="100"
          >
            70%
          </div>
        </div>

        <!-- Barre de progression 2 -->
        <p class="card-text mt-3">Compétence 2</p>
        <div class="progress">
          <div
            class="progress-bar"
            role="progressbar"
            style="width: 50%"
            aria-valuenow="50"
            aria-valuemin="0"
            aria-valuemax="100"
          >
            50%
          </div>
        </div>

        <!-- Bouton "Voir plus" -->
        <a href="#" class="btn btn-primary mt-3">Voir plus</a>
      </div>
    </div>
  </div>
</div>

<h2 class="d-flex justify-content-center" style="margin-top: 5%">
  Gestion spécialité
</h2>

<div class="container mt-5">
  <div class="d-flex justify-content-between">
    <div
      class="table-container"
      style="max-height: 200px; overflow-y: auto; width: 30%"
    >
      <table class="table">
        <thead class="sticky-top">
          <tr>
            <th scope="col">spécialité</th>
            <th scope="col">Options</th>
          </tr>
        </thead>
        <tbody>
          {% for spe in specialities %}
          <tr>
            <td>{{spe.name}}</td>
            <td>
              <select class="form-select">
                <option value="" selected disabled>Choisir...</option>
                <option value="option1">Option 1</option>
                <option value="option2">Option 2</option>
                <option value="option3">Option 3</option>
              </select>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div
      class="table-container"
      style="max-height: 200px; overflow-y: auto; width: 60%"
    >
      <table class="table">
        <thead class="sticky-top">
          <tr>
            <th scope="col">Thématique</th>
            <th scope="col">Options</th>
          </tr>
        </thead>
        <tbody>
          {% for lesson in lessons %}
          <tr>
            <td>{{lesson.name}}</td>
            <td>
              <select class="form-select">
                <option value="" selected disabled>Choisir...</option>
                <option value="option1">Option 1</option>
                <option value="option2">Option 2</option>
                <option value="option3">Option 3</option>
              </select>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

<h2 class="d-flex justify-content-center" style="margin-top: 5%">
  Gestion cours / exercice
</h2>

<div class="container text-center" style="margin-top: 2%">
  <div class="row">
    <div class="col-3">
      <select class="form-select" id="dropdownColumn2">
        <!-- Ajoutez vos options de dropdown ici -->
        <option value="option1">Toutes les classes</option>
        {% for class in bootcamps %}
        <option value="{{class.id}}">{{class.name}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="col-3">
      <select class="form-select" id="dropdownColumn2">
        <!-- Ajoutez vos options de dropdown ici -->
        <option value="option1">Toutes les exercices</option>
        {% for exo in exercises %}
        <option value="{{exo.id}}">{{exo.name}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="col-1">
      <a href="#link3" class="btn btn-primary">Rechercher</a>
    </div>
    <div class="col" style="margin-left: 20%">
      <a href="#link3" class="btn btn-primary">Ajouter un exercice</a>
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="table-container" style="max-height: 200px; overflow-y: auto">
    <table class="table">
      <thead class="sticky-top">
        <tr>
          <th scope="col-2">Titre</th>
          <th scope="col-1">Score</th>
          <th scope="col-4">Enoncé</th>
          <th scope="col-4">Déscription</th>
          <th scope="col-1">Jour</th>
          <th scope="col-1">Spé</th>
          <th scope="col-1">Options</th>
        </tr>
      </thead>
      <tbody>
        {% for exo in exercises %}
        <tr>
          <td><a href="#">{{exo.subject.name}}</a></td>
          <td>Score 1</td>
          <td>{{exo.name}}</td>
          <td>{{exo.description}}</td>
          <td>{{exo.bootcamp_day}}</td>
          <td>{{exo.subject.name}}</td>
          <td>
            <select class="form-select">
              <option value="" selected disabled>Choisir...</option>
              <option value="option1">Option 1</option>
              <option value="option2">Option 2</option>
              <option value="option3">Option 3</option>
            </select>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
