{% extends "accounts/base.html" %} {% block content %}
<h1 class="d-flex justify-content-center">Dashboard user</h1>

<div>
  <div class="d-flex justify-content-between" style="margin: 2%">
    <div>{{user.first_name}} {{user.last_name}}</div>
    <div>Spécialité : {{speciality.name}}</div>
  </div>
  <div class="d-flex justify-content-between" style="margin: 0 1% 2% 1%">
    <div class="d-inline-flex p-2">
      Bootcamp:
      <select
        class="btn btn-primary dropdown-toggle btn-sm"
        style="margin: 0 1%"
      >
        {% for bootcamp in bootcamps %}
        <option value="{{bootcamp.id}}">{{bootcamp.name}}</option>
        {% endfor %}
      </select>
      <div class="dropdown">
        <ul class="dropdown-menu"></ul>
      </div>
    </div>

    <div>JOUR 8</div>

    <div class="d-inline-flex p-2">
      Statut :
      <div class="dropdown">
        <button
          type="button"
          class="btn btn-primary dropdown-toggle btn-sm"
          data-bs-toggle="dropdown"
          style="margin: 0 1%"
        >
          Tous
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Tous</a></li>
          <li><a class="dropdown-item" href="#">Validé</a></li>
          <li><a class="dropdown-item" href="#">Echec</a></li>
          <li><a class="dropdown-item" href="#">En cours</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div style="margin: 0 1%">
  <div class="container-fluid" style="background-color: #4f69ff; padding: 1% 0">
    <div class="row">
      <div class="col-3">Thématique</div>
      <div class="col-3">Description</div>
      <div class="col-3">Progression</div>
      <div class="col-3">Statut</div>
    </div>
  </div>
  {% for lesson in lessons %}
  <div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapseOne"
          aria-expanded="false"
          aria-controls="panelsStayOpen-collapseOne"
          style="background-color: #bacaff"
        >
          <div class="container-fluid">
            <div class="row">
              <div class="col-3">{{lesson.name}}</div>
              <div class="col-3">{{lesson.description}}</div>
              <div class="col-3" style="padding: 0 0 0 2%">85%</div>
              <div class="col-3" style="padding: 0 0 0 2%">Validé</div>
            </div>
          </div>
        </button>
      </h2>
      {% for exo in exercises %}
      <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse">
        <div class="accordion-body">
          <div class="container-fluid">
            <div class="row">
              <div class="col-3">{{exo.name}}</div>
              <div class="col-3">
                {{exo.description}}</div>
                <div class="col-3">100%</div>
                <div class="col-3">{{exo.status}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %} {% endfor %}

      <div class="row">
        <div class="col-6" style="text-align: right">
          Progression globale de l'élève :
        </div>
        <div class="col-3">Progression</div>
        <div class="col-2">Validé</div>
      </div>
    </div>
  </div>
</div>

<div class="d-flex justify-content-evenly" style="margin-top: 2%">
  <div class="d-inline-flex p-2">
    Mission quotidienne : progresser de 100% chaque jours
  </div>
  <div class="d-inline-flex p-2">Progression journalière : Résultat</div>
</div>

{% endblock %}
