{% load static %}

<footer class="bg-light text-center text-lg-start" style="background-color: #9fb5ff;">
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    
    <div class="d-flex justify-content-around mt-3">
      <img src="{% static "images/ico.png" %}%}" alt="Logo" width="50" height="50">
      <div><a href="#!">Politique de confidentialité</a></div>
      <div><a href="#!">CGU</a></div>
      <div><a href="#!">Mentions légales</a></div>
      <div>WizzerTeacher - 2024</div>
    </div>
    
  </div>
</footer>