{% extends "accounts/base.html" %} {% block content %}

<div class="container d-flex justify-content-center">
    <h1 style="color: #000f40;">Vous cherchez un moyen de digitaliser vos cours?</h1>
</div>
<br>
<div class="container d-flex justify-content-center">
    <h3>Vous avez trouvé ce que vous cherchiez.</h3>
</div>
<br>
<div class="container d-flex justify-content-center">
    <button class="btn btn-primary">Inscrivez-vous dès maintenant</button>
</div>
<br>
<tr style="background-color: #003cff;"></tr>
<div style="background-color: #bacaff ;">

    <div class="container d-flex justify-content-center">
        <h2>Qui sommes-nous?</h2>
    </div>
    <br>
    <div class="container d-flex justify-content-center">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/xvFZjo5PgG0" frameborder="0"
            allowfullscreen></iframe>
    </div>
    <br>

</div>
<br>
<div class="container d-flex justify-content-center">
    <h2>Quel est notre but?</h2>
    <br>
</div>

<table class="container d-flex justify-content-center">
    <tr>

        <td style="background-color: #6e90ff; padding: 10px;">
            <h3>Echange</h3>
            <p><strong>Missions :</strong></p>
            <ul>
                <li>communication</li>
                <li>comprehension</li>
                <li>partage</li>
            </ul>

        </td>
        <td style="background-color: #6e90ff; padding: 30px;">
            <img src="chemin/vers/your_image.jpg" alt="Image de la mission" width="100">
        </td>

        <td style="background-color: #bbcbff; padding: 10px;">
            <h3>Apprentissage</h3>
            <p><strong>Missions :</strong></p>
            <ul>
                <li>evolution</li>
                <li>decouverte</li>
                <li>maitrise</li>
            </ul>

        </td>
        <td style="background-color: #bbcbff; padding: 30px;">
            <img src="chemin/vers/your_image.jpg" alt="Image de la mission" width="100">
        </td>
        <br>
    </tr>
</table>
<br>
<br>
<div class="container d-flex justify-content-center">
    <h2>Notre équipe</h2>
    <br>
</div>
<br>

<div style="background-color: #bbcbff; padding: 30px;">
    <div class="container d-flex justify-content-center">
        <div id="carouselExample" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card">
                                <div class="table-responsive">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <h5 class="card-title">Titre 1</h5>
                                                    <p class="card-text">Nom Prénom 1</p>
                                                    <p class="card-text">Description 1</p>
                                                </td>
                                                <td>
                                                    <img src="chemin/vers/image_profil_1.jpg" class="card-img-top"
                                                        alt="Image Profil 1">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- Répétez la structure ci-dessus pour les deux autres cartes -->
                        <!-- Carte 2 -->
                        <div class="col-md-4">
                            <div class="card">
                                <div class="table-responsive">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <h5 class="card-title">Titre 2</h5>
                                                    <p class="card-text">Nom Prénom 2</p>
                                                    <p class="card-text">Description 2</p>
                                                </td>
                                                <td>
                                                    <img src="chemin/vers/image_profil_2.jpg" class="card-img-top"
                                                        alt="Image Profil 2">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- Carte 3 -->
                        <div class="col-md-4">
                            <div class="card">
                                <div class="table-responsive">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <h5 class="card-title">Titre 3</h5>
                                                    <p class="card-text">Nom Prénom 3</p>
                                                    <p class="card-text">Description 3</p>
                                                </td>
                                                <td>
                                                    <img src="chemin/vers/image_profil_3.jpg" class="card-img-top"
                                                        alt="Image Profil 3">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Ajoutez plus de diapositives selon le nombre de cartes -->
                <!-- Diapositive 2 -->
                <div class="carousel-item">
                    <div class="row">
                        <!-- Carte 4 -->
                        <div class="col-md-4">
                            <div class="card">
                                <div class="table-responsive">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <h5 class="card-title">Titre 4</h5>
                                                    <p class="card-text">Nom Prénom 4</p>
                                                    <p class="card-text">Description 4</p>
                                                </td>
                                                <td>
                                                    <img src="chemin/vers/image_profil_4.jpg" class="card-img-top"
                                                        alt="Image Profil 4">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- Carte 5 -->
                        <div class="col-md-4">
                            <div class="card">
                                <div class="table-responsive">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <h5 class="card-title">Titre 5</h5>
                                                    <p class="card-text">Nom Prénom 5</p>
                                                    <p class="card-text">Description 5</p>
                                                </td>
                                                <td>
                                                    <img src="chemin/vers/image_profil_5.jpg" class="card-img-top"
                                                        alt="Image Profil 5">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- Carte 6 -->
                        <div class="col-md-4">
                            <div class="card">
                                <div class="table-responsive">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <h5 class="card-title">Titre 6</h5>
                                                    <p class="card-text">Nom Prénom 6</p>
                                                    <p class="card-text">Description 6</p>
                                                </td>
                                                <td>
                                                    <img src="chemin/vers/image_profil_6.jpg" class="card-img-top"
                                                        alt="Image Profil 6">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExample" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExample" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>

{% endblock %}