{% extends "accounts/base.html" %} {% block content %}

<form action="" method="POST">
  {% csrf_token %}
  <label for="email"> Email</label>
  <input type="text" name="email" required />
  <label for="password"> password</label>
  <input type="password" name="password" required />

  <button type="submit">Login</button>
</form>

<div>
  {% for message in messages %}
  <p>{{message}}</p>
  {% endfor %}
</div>

{%endblock %}
