{% load static %}

<ul
  class="nav justify-content-center navbar-light align-items-center"
  style="background-color: #9fb5ff"
>
  <li class="nav-item">
    <a class="navbar-brand" href="{% url "home" %}">
      <img
        src="{%static 'images/ico.png'%}"
        alt="Logo WizzerTeacher"
        width="50"
        height="50"
      />
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-item nav-link active text-dark" href="{% url 'home' %}">Home </a>
  </li>
  <li class="nav-item">
    <a class="nav-item nav-link active text-dark" href="{% url 'dashboard' %}">Dashboard</a>
  </li>
  <li class="nav-item">
    <a class="nav-item nav-link active text-dark" href="#">À propos</a>
  </li>
  <li class="nav-item">
    <a class="nav-item nav-link active text-dark" href="{% url "register" %}">Créer un compte</a>
  </li>
  {% if logged_in == True %}
  <li class="nav-item">
    <a class="nav-item nav-link active" href="#">
      <img
        src="{% static "images/accounts.jpeg" %}"
        alt="Photo de profil"
        width="30"
        height="30"
        class="d-inline-block align-top"
      />
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-item nav-link active" href="{% url 'logout' %}">
      Se déconnecter
    </a>
  </li>
  {% else %}
  <li class="nav-item">
    <a class="nav-item nav-link active text-dark" href="{% url 'login' %}">
      Se connecter
    </a>
    {% endif %}
</ul>
