{% extends "accounts/base.html" %} {% block content %}
{% load static %}

<br>
<div style="background-color: #bacaff ;">

    <div class="container d-flex justify-content-center">
        <h2>Profile</h2>
    </div>
    <table class="container d-flex justify-content-center">
        <tr>
            <td style=" padding: 10px;">
                <ul>
                    <li>Nom</li>
                    <li>Prenom</li>
                    <li>Date de naissance</li>
                    <li>Genre</li>
                    <li>Photo de profil</li>
                </ul>
            </td>
            <td style=" padding: 10px;">
                <ul>
                    <li>{{user.last_name}}</li>
                    <li>{{user.first_name}}</li>
                    <li>{{user.date_of_birth}}</li>
                    <img src="{% static "images/accounts.jpeg" %}" alt="Profile picture" width=50 height=50>
                </ul>
            </td>
            <br>
        </tr>
    </table>
    <br>
</div>
<br>
<div class="container d-flex justify-content-center">
    <table class="container d-flex justify-content-center">
        <tr>
            <td style=" padding: 10px;">
                <ul>
                    <li>Nom de votre école</li>
                    <li>Année universitaires</li>
                    <li>Cycle d’étude</li>
                    <li>Spécialisation</li>
                </ul>
            </td>
            <td style=" padding: 10px;">
                <ul>
                    <li>{{user.school}}</li>
                    <li>{{user.school_year}}</li>
                    <li>{{user.school_level}}</li>
                    {% for spe in user.speciality.all %}
                    <li>{{spe.name}}</li>
                    {% endfor %}
                </ul>
            </td>
            <br>
        </tr>
    </table>
</div>
<br>
<div style="background-color: #bacaff ;">
    <table class="container d-flex justify-content-center">
        <tr>
            <td style=" padding: 10px;">
                <ul>
                    <li>Telephone</li>
                    <li>Mail</li>
                    <li>Lien github</li>
                    <li>Mot de passe</li>
                </ul>
            </td>
            <td style="padding: 10px;">
                <ul>
                    <li>{{user.phone_number}}</li>
                    <li>{{user.email}}</li>
                    <li>{{user.github_link}}</li>
                    <li>*******</li>
                </ul>
            </td>
            <br>
        </tr>
    </table>
    <br>

</div>
<br>
<div class="container d-flex justify-content-center">
    <button type="button" class="btn btn-primary">Modifier</button>
</div>
<br>
<div class="container d-flex justify-content-center">
    <button type="button" class="btn btn-danger">Supprimer</button>
</div>

{% endblock %}
